<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login &amp; Register Templates</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="dist/css/todosProy.css">


    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body data-ng-app="todosProy">

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Ejercicio 3 |</strong> Administracion de Tareas</h1>
                    <div class="description">
                        <p>
                            Este es un template choreado a <strong>AZMIND</strong>.
                            Si les gusta lo puden bajar de <a href="http://azmind.com" target="_blank"><strong>aca</strong></a>
                            y customizarlo a gusto.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5" data-ng-controller="todoController">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Crear nuevas Tareas</h3>
                                <p>Inregse los datos requeridos para crear una nueva tarea:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form name="createForm" data-ng-submit="isCreating() ? create(createForm): edit(createForm)" id="createform">
                                <input type="hidden" data-ng-model="task.id"/>
                                <div class="form-group">
                                    <input type="text" placeholder="Nombre de la Tarea" class="form-username form-control" data-ng-model="task.title" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Descripcion de la Tarea" class="form-password form-control" data-ng-model="task.description" required>
                                </div>
                                <button data-ng-if="isCreating()" type="submit" class="btn" >Crear!</button>
                                <div data-ng-if="isEditing()">
                                    <button type="submit" class="btn my-test-stile-to-use-sass" >Editar!</button><button type="button" class="btn my-test-stile-to-use-sass" data-ng-click="cancel()" >Cancelar!</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="col-sm-1 middle-border"></div>
                <div class="col-sm-1"></div>

                <div class="col-sm-5" data-ng-controller="todoListController">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Lista de Tareas</h3>
                                <p>Esta es toda la lista de tareas que se han cargado</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-tasks"></i>
                            </div>
                        </div>
                        <div class="form-bottom">

                            <print-list></print-list>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="footer-border"></div>
                <p>Ejercicios hechos por <a href="https://www.facebook.com/hectormaximiliano.sbrocca" target="_blank"><strong>Maxi</strong></a>
                    para el curso de JS-Angular, choriandole el template a <a href="http://azmind.com" target="_blank"><strong>este loquito</strong></a> <i class="fa fa-smile-o"></i></p>
            </div>

        </div>
    </div>
</footer>

<!-- Javascript -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/dist/js/todosProy.js"></script>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>