<div data-ng-repeat="t in todoList">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">
                <p ng-class="{'task-done': t.done === true}">{{t.title}}</p>
            </h3>
            <button ng-if="t.done === false" class="btn-sm pull-right" title="Edit" data-ng-click="edit(t.id)"><i class="fa fa-edit"></i></button>
            <button ng-if="t.done === false" class="btn-sm pull-right" title="Delete" data-ng-click="delete(t.id)"><i class="fa fa-remove"></i></button>
            <button ng-if="t.done === false" class="btn-sm pull-right" title="Complete" data-ng-click="complete(t.id)"><i class="fa fa-archive"></i></button>
            <button data-toggle="collapse" data-target="#des{{t.id}}" class="btn-sm pull-right" title="Expand" ><i id="colap-expand{{t.id}}" class="fa fa-expand"></i></button>
            <div class="clearfix"></div>
        </div>
        <div id="des{{t.id}}" class="panel-body collapse">
            <p ng-class="{'task-done': t.done === true}">{{t.description}}</p>
        </div>
    </div>

</div>